<div class="ui form">
    <%= form_with(model: [@topic, @topic.comments.build], local: true) do |f| %>
      <div class="field">
        <%= f.label :comment %>
        <%= f.text_area :comment %>
      </div>
      <div class="actions">
        <%= f.submit "Reply", class: "ui tiny primary button" %>
      </div>
    <% end %>
</div>
