<div class="ui form">
    <%= form_for([@topic, @topic.comments.build]) do |f| %>
      <div class="field">
        <%= f.label :comment %>
        <%= f.text_area :comment %>
      </div>
      <div class="actions">
        <%= f.submit "Reply", class: "ui tiny primary button" %>
      </div>
    <% end %>
</div>
