<% if @user.errors.any? %>
  <div class="ui error message">
    <i class="close icon"></i>
    <div class="header">
      The form contains <%= pluralize(@user.errors.count, "error") %>.
    </div>
    <ul class="list">
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
