<div class="ui secondary  menu">
  <%= link_to "Vanhack Awesome Forum", root_path, class: "active item" %>
  <div class="right menu">
    <div class="item">
      <div class="ui icon input">
        <input type="text" placeholder="Search...">
        <i class="search link icon"></i>
      </div>
    </div>
    <a class="ui item">
      Logout
    </a>
  </div>
</div>
